*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    font-family: sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}
a 
{
text-decoration: none;
color: #333;
}
ul 
{
    list-style-type:none;
}

header 
{
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
}
.container 
{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.log 
{
    font-size: 1.8rem;
}
.nav-links 
{
    display: flex;
    gap: 1rem;
}
.nav-links li a 
{
    color: #fff;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
}

.nav-links li a:hover 
{
    background: #555;
    border-radius: 4px;
}

.section
{
    padding: 4rem 2rem;
    text-align: center;
}

.highlight 
{
    color: #007bff;
    font-weight: bold;
}
.skills-list 
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.skills-list li 
{
    background-color: #007bff;
    color: #fff;;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}
.project 
{
    margin: 1rem auto;
    max-width: 600px;
    background-color:#f0f0f0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 2px 2px 8px #ccc;
}
form 
{
    max-width: 500px;
    margin: 0px auto;
    display: flex;

    flex-direction: column;
    gap:1rem;
}

input,textarea
{
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    padding: 0.8rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover 
{
    background-color: #0056b3;

}

footer 
{
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.project img 
{
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

@media (max-width: 768px)
{
    .cotnainer 
    {
        flex-direction: column;
        gap: 1rem;
    }
    .nav-links
    {
        flex-direction: column;
        align-items: center;
    }
    .skills-list
    {
        flex-direction: column;
        align-items: center;
    }
}
